<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Blank</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            body{
                color: white;
                font: sans-serif;
                background-color: black;
            }
        </style>
    </head>
    <body>
        <h1> I am a Django developer </h1>
    </body>
</html>