<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Blank</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static '/learn/index.css' %}">  
        <style>
            h1{
                font: 0.8rem;
            }
        </style>   
    </head>
    <body>
        <h1> I am a {{field}} developer using {{framework}}.....whether you like it or not</h1>
    </body>
</html>